.mainPage{
    height: 100vh;
    display: grid;

    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    "side header"
    "side main"
    ;
}
.mainContent{
    max-height: 100vh;
    overflow-y: scroll;
}